# This code shoud run once a day to generate fact and dim tables

In [23]:
import pandas as pd

pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

# Loading Raw Table

In [24]:
raw_table = pd.read_parquet("/Users/reinaldoduzanskijunior/Documents/teste/fire_incidents/extract_data/raw_database.parquet", columns=["incident_number", "incident_date", "neighborhood_district", "battalion", "primary_situation", "station_area", "fire_fatalities", "civilian_fatalities", "supervisor_district", "estimated_property_loss"])
raw_table.head(10)

  incident_number            incident_date           neighborhood_district battalion                                 primary_situation station_area fire_fatalities civilian_fatalities supervisor_district estimated_property_loss
0        17019056  2017-02-12T00:00:00.000                         Mission       B06  733 Smoke detector activation due to malfunction           07               0                   0                   9                    None
1        17019062  2017-02-13T00:00:00.000                         Mission       B06      324 Motor vehicle accident with no injuries.           11               0                   0                   9                    None
2        17019080  2017-02-13T00:00:00.000                       Chinatown       B01              700 False alarm or false call, other           02               0                   0                   3                    None
3        17019091  2017-02-13T00:00:00.000                    Inner Sunset       B05    746 Carbon monoxide detector activation, no CO           12               0                   0                   8                    None
4        17019093  2017-02-13T00:00:00.000                        Nob Hill       B01          322 Motor vehicle accident with injuries           01               0                   0                   3                    None
5        17019098  2017-02-13T00:00:00.000  Financial District/South Beach       B03       735 Alarm system sounded due to malfunction           13               0                   0                   6                    None
6        17019102  2017-02-13T00:00:00.000               Visitacion Valley       B09  733 Smoke detector activation due to malfunction           43               0                   0                  10                    None
7        17019104  2017-02-13T00:00:00.000                      Tenderloin       B03           113 Cooking fire, confined to container           01               0                   0                   5                    None
8        17019108  2017-02-13T00:00:00.000                 South of Market       B03     715 Local alarm system, malicious false alarm           01               0                   0                   6                    None
9        17019111  2017-02-13T00:00:00.000                Western Addition       B02                                554 Assist invalid           03               0                   0                   2                    None

# Start building Dim_Battalion

In [25]:
dim_battalion = raw_table[['battalion', 'station_area']].drop_duplicates().reset_index(drop=True)
dim_battalion.head(10)

  battalion station_area
0       B06           07
1       B06           11
2       B01           02
3       B05           12
4       B01           01
5       B03           13
6       B09           43
7       B03           01
8       B02           03
9       B08           22

In [26]:
dim_battalion['battalion_id'] = dim_battalion.index + 1
dim_battalion.head(10)

  battalion station_area  battalion_id
0       B06           07             1
1       B06           11             2
2       B01           02             3
3       B05           12             4
4       B01           01             5
5       B03           13             6
6       B09           43             7
7       B03           01             8
8       B02           03             9
9       B08           22            10

# Saving Dim_Battalion

In [27]:
dim_battalion.to_parquet("/Users/reinaldoduzanskijunior/Documents/teste/fire_incidents/data_models/dimension_tables/dim_battalion_fire_incidents.parquet")

# Start building Dim_District

In [28]:
dim_district = raw_table[['neighborhood_district', 'supervisor_district']].drop_duplicates().reset_index(drop=True)
dim_district.head(10)

            neighborhood_district supervisor_district
0                         Mission                   9
1                       Chinatown                   3
2                    Inner Sunset                   8
3                        Nob Hill                   3
4  Financial District/South Beach                   6
5               Visitacion Valley                  10
6                      Tenderloin                   5
7                 South of Market                   6
8                Western Addition                   2
9                 Sunset/Parkside                   4

In [29]:
dim_district['district_id'] = dim_district.index + 1
dim_district.head(10)

            neighborhood_district supervisor_district  district_id
0                         Mission                   9            1
1                       Chinatown                   3            2
2                    Inner Sunset                   8            3
3                        Nob Hill                   3            4
4  Financial District/South Beach                   6            5
5               Visitacion Valley                  10            6
6                      Tenderloin                   5            7
7                 South of Market                   6            8
8                Western Addition                   2            9
9                 Sunset/Parkside                   4           10

# Saving Dim_District

In [30]:
dim_district.to_parquet("/Users/reinaldoduzanskijunior/Documents/teste/fire_incidents/data_models/dimension_tables/dim_district_fire_incidents.parquet")

# Start building Dim_Time

In [31]:
raw_table["incident_date"] = pd.to_datetime(raw_table["incident_date"])
raw_table['year'] = raw_table["incident_date"].dt.year
raw_table['month'] = raw_table["incident_date"].dt.month
raw_table['day'] = raw_table["incident_date"].dt.day
raw_table['day_of_week'] = raw_table["incident_date"].dt.dayofweek
raw_table.head(10)

  incident_number incident_date           neighborhood_district battalion                                 primary_situation station_area fire_fatalities civilian_fatalities supervisor_district estimated_property_loss  year  month  day  day_of_week
0        17019056    2017-02-12                         Mission       B06  733 Smoke detector activation due to malfunction           07               0                   0                   9                    None  2017      2   12            6
1        17019062    2017-02-13                         Mission       B06      324 Motor vehicle accident with no injuries.           11               0                   0                   9                    None  2017      2   13            0
2        17019080    2017-02-13                       Chinatown       B01              700 False alarm or false call, other           02               0                   0                   3                    None  2017      2   13            0
3        17019091    2017-02-13                    Inner Sunset       B05    746 Carbon monoxide detector activation, no CO           12               0                   0                   8                    None  2017      2   13            0
4        17019093    2017-02-13                        Nob Hill       B01          322 Motor vehicle accident with injuries           01               0                   0                   3                    None  2017      2   13            0
5        17019098    2017-02-13  Financial District/South Beach       B03       735 Alarm system sounded due to malfunction           13               0                   0                   6                    None  2017      2   13            0
6        17019102    2017-02-13               Visitacion Valley       B09  733 Smoke detector activation due to malfunction           43               0                   0                  10                    None  2017      2   13            0
7        17019104    2017-02-13                      Tenderloin       B03           113 Cooking fire, confined to container           01               0                   0                   5                    None  2017      2   13            0
8        17019108    2017-02-13                 South of Market       B03     715 Local alarm system, malicious false alarm           01               0                   0                   6                    None  2017      2   13            0
9        17019111    2017-02-13                Western Addition       B02                                554 Assist invalid           03               0                   0                   2                    None  2017      2   13            0

In [32]:
dim_time = raw_table[['incident_date', 'year', 'month', 'day', 'day_of_week']].drop_duplicates().reset_index(drop=True)
dim_time.head(10)

  incident_date  year  month  day  day_of_week
0    2017-02-12  2017      2   12            6
1    2017-02-13  2017      2   13            0
2    2017-02-14  2017      2   14            1
3    2017-02-15  2017      2   15            2
4    2017-02-16  2017      2   16            3
5    2017-02-17  2017      2   17            4
6    2017-02-18  2017      2   18            5
7    2017-02-19  2017      2   19            6
8    2017-02-20  2017      2   20            0
9    2017-02-21  2017      2   21            1

In [33]:
dim_time['date_id'] = dim_time.index + 1
dim_time.head(10)

  incident_date  year  month  day  day_of_week  date_id
0    2017-02-12  2017      2   12            6        1
1    2017-02-13  2017      2   13            0        2
2    2017-02-14  2017      2   14            1        3
3    2017-02-15  2017      2   15            2        4
4    2017-02-16  2017      2   16            3        5
5    2017-02-17  2017      2   17            4        6
6    2017-02-18  2017      2   18            5        7
7    2017-02-19  2017      2   19            6        8
8    2017-02-20  2017      2   20            0        9
9    2017-02-21  2017      2   21            1       10

# Saving Dim_Date

In [34]:
dim_time.to_parquet("/Users/reinaldoduzanskijunior/Documents/teste/fire_incidents/data_models/dimension_tables/dim_time_fire_incidents.parquet")

# Start building Fact_Table

In [35]:
raw_table

    incident_number incident_date           neighborhood_district battalion                                  primary_situation station_area fire_fatalities civilian_fatalities supervisor_district estimated_property_loss  year  month  day  day_of_week
0          17019056    2017-02-12                         Mission       B06   733 Smoke detector activation due to malfunction           07               0                   0                   9                    None  2017      2   12            6
1          17019062    2017-02-13                         Mission       B06       324 Motor vehicle accident with no injuries.           11               0                   0                   9                    None  2017      2   13            0
2          17019080    2017-02-13                       Chinatown       B01               700 False alarm or false call, other           02               0                   0                   3                    None  2017      2   13            0
3          17019091    2017-02-13                    Inner Sunset       B05     746 Carbon monoxide detector activation, no CO           12               0                   0                   8                    None  2017      2   13            0
4          17019093    2017-02-13                        Nob Hill       B01           322 Motor vehicle accident with injuries           01               0                   0                   3                    None  2017      2   13            0
..              ...           ...                             ...       ...                                                ...          ...             ...                 ...                 ...                     ...   ...    ...  ...          ...
995        17024019    2017-02-25                 South of Market       B03                            522 Water or steam leak           01               0                   0                   6                    None  2017      2   25            5
996        17024022    2017-02-25  Financial District/South Beach       B03               700 False alarm or false call, other           13               0                   0                   6                    None  2017      2   25            5
997        17024025    2017-02-25                  Outer Richmond       B07               700 False alarm or false call, other           34               0                   0                   1                    None  2017      2   25            5
998        17024032    2017-02-25                       Excelsior       B09                            500 Service Call, other           43               0                   0                  11                    None  2017      2   25            5
999        17024040    2017-02-25                          Marina       B04  743 Smoke detector activation, no fire - unint...           16               0                   0                   2                    None  2017      2   25            5

[1000 rows x 14 columns]

In [36]:
fact_fire_incidents = raw_table.merge(dim_battalion[['battalion', 'battalion_id']], on='battalion')
fact_fire_incidents = fact_fire_incidents.merge(dim_time[['incident_date', 'date_id']], on='incident_date')
fact_fire_incidents = fact_fire_incidents.merge(dim_district[['neighborhood_district', 'district_id']], on='neighborhood_district')

In [37]:
fact_fire_incidents.head(10)

  incident_number incident_date neighborhood_district battalion                                 primary_situation station_area fire_fatalities civilian_fatalities supervisor_district estimated_property_loss  year  month  day  day_of_week  battalion_id  date_id  district_id
0        17019056    2017-02-12               Mission       B06  733 Smoke detector activation due to malfunction           07               0                   0                   9                    None  2017      2   12            6             1        1            1
1        17019056    2017-02-12               Mission       B06  733 Smoke detector activation due to malfunction           07               0                   0                   9                    None  2017      2   12            6             1        1           29
2        17019056    2017-02-12               Mission       B06  733 Smoke detector activation due to malfunction           07               0                   0                   9                    None  2017      2   12            6             1        1           45
3        17019056    2017-02-12               Mission       B06  733 Smoke detector activation due to malfunction           07               0                   0                   9                    None  2017      2   12            6             1        1           51
4        17019056    2017-02-12               Mission       B06  733 Smoke detector activation due to malfunction           07               0                   0                   9                    None  2017      2   12            6             2        1            1
5        17019056    2017-02-12               Mission       B06  733 Smoke detector activation due to malfunction           07               0                   0                   9                    None  2017      2   12            6             2        1           29
6        17019056    2017-02-12               Mission       B06  733 Smoke detector activation due to malfunction           07               0                   0                   9                    None  2017      2   12            6             2        1           45
7        17019056    2017-02-12               Mission       B06  733 Smoke detector activation due to malfunction           07               0                   0                   9                    None  2017      2   12            6             2        1           51
8        17019056    2017-02-12               Mission       B06  733 Smoke detector activation due to malfunction           07               0                   0                   9                    None  2017      2   12            6            16        1            1
9        17019056    2017-02-12               Mission       B06  733 Smoke detector activation due to malfunction           07               0                   0                   9                    None  2017      2   12            6            16        1           29

In [38]:
fact_fire_incidents = fact_fire_incidents[['incident_number', 'date_id', 'district_id', 
                                           'battalion_id', 'primary_situation', 'station_area', 'fire_fatalities', 'civilian_fatalities', 'estimated_property_loss']]
fact_fire_incidents.head(10)

  incident_number  date_id  district_id  battalion_id                                 primary_situation station_area fire_fatalities civilian_fatalities estimated_property_loss
0        17019056        1            1             1  733 Smoke detector activation due to malfunction           07               0                   0                    None
1        17019056        1           29             1  733 Smoke detector activation due to malfunction           07               0                   0                    None
2        17019056        1           45             1  733 Smoke detector activation due to malfunction           07               0                   0                    None
3        17019056        1           51             1  733 Smoke detector activation due to malfunction           07               0                   0                    None
4        17019056        1            1             2  733 Smoke detector activation due to malfunction           07               0                   0                    None
5        17019056        1           29             2  733 Smoke detector activation due to malfunction           07               0                   0                    None
6        17019056        1           45             2  733 Smoke detector activation due to malfunction           07               0                   0                    None
7        17019056        1           51             2  733 Smoke detector activation due to malfunction           07               0                   0                    None
8        17019056        1            1            16  733 Smoke detector activation due to malfunction           07               0                   0                    None
9        17019056        1           29            16  733 Smoke detector activation due to malfunction           07               0                   0                    None

In [39]:
fact_fire_incidents['estimated_property_loss'] = fact_fire_incidents['estimated_property_loss'].fillna(0)
fact_fire_incidents.head(10)

  incident_number  date_id  district_id  battalion_id                                 primary_situation station_area fire_fatalities civilian_fatalities estimated_property_loss
0        17019056        1            1             1  733 Smoke detector activation due to malfunction           07               0                   0                       0
1        17019056        1           29             1  733 Smoke detector activation due to malfunction           07               0                   0                       0
2        17019056        1           45             1  733 Smoke detector activation due to malfunction           07               0                   0                       0
3        17019056        1           51             1  733 Smoke detector activation due to malfunction           07               0                   0                       0
4        17019056        1            1             2  733 Smoke detector activation due to malfunction           07               0                   0                       0
5        17019056        1           29             2  733 Smoke detector activation due to malfunction           07               0                   0                       0
6        17019056        1           45             2  733 Smoke detector activation due to malfunction           07               0                   0                       0
7        17019056        1           51             2  733 Smoke detector activation due to malfunction           07               0                   0                       0
8        17019056        1            1            16  733 Smoke detector activation due to malfunction           07               0                   0                       0
9        17019056        1           29            16  733 Smoke detector activation due to malfunction           07               0                   0                       0

In [40]:
fact_fire_incidents = fact_fire_incidents.astype({
    'incident_number': 'int64',      
    'date_id': 'int64',               
    'district_id': 'int64',            
    'battalion_id': 'int64',           
    'primary_situation': 'string',    
    'station_area': 'string',          
    'fire_fatalities': 'int64',       
    'civilian_fatalities': 'int64',    
    'estimated_property_loss': 'float' 
})
fact_fire_incidents.head(10)

   incident_number  date_id  district_id  battalion_id                                 primary_situation station_area  fire_fatalities  civilian_fatalities  estimated_property_loss
0         17019056        1            1             1  733 Smoke detector activation due to malfunction           07                0                    0                      0.0
1         17019056        1           29             1  733 Smoke detector activation due to malfunction           07                0                    0                      0.0
2         17019056        1           45             1  733 Smoke detector activation due to malfunction           07                0                    0                      0.0
3         17019056        1           51             1  733 Smoke detector activation due to malfunction           07                0                    0                      0.0
4         17019056        1            1             2  733 Smoke detector activation due to malfunction           07                0                    0                      0.0
5         17019056        1           29             2  733 Smoke detector activation due to malfunction           07                0                    0                      0.0
6         17019056        1           45             2  733 Smoke detector activation due to malfunction           07                0                    0                      0.0
7         17019056        1           51             2  733 Smoke detector activation due to malfunction           07                0                    0                      0.0
8         17019056        1            1            16  733 Smoke detector activation due to malfunction           07                0                    0                      0.0
9         17019056        1           29            16  733 Smoke detector activation due to malfunction           07                0                    0                      0.0

In [41]:
fact_fire_incidents.to_parquet("/Users/reinaldoduzanskijunior/Documents/teste/fire_incidents/data_models/fact_table/fact_fire_incidents.parquet")